[Unit]
Description=myip
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
WorkingDirectory=/srv/myip
ExecStart=docker compose up --build
ExecStop=docker compose down
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
